@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-dark_bg_1: #111B21;
  --color-dark_bg_2: #202C33;
  --color-dark_bg_3: #182229;
  --color-dark_bg_4: #222E35;
  --color-dark_bg_5: #233138;
  --color-dark_bg_6: #101A20;

  --color-dark_border_1: #222D34;
  --color-dark_border_2: #313D45;

  --color-dark_hover_1: #2A3942;

  --color-dark_svg_1: #AEBAC1;
  --color-dark_svg_2: #8696A0;

  --color-blue_1: #53BDEB;
  --color-blue_2: #3E7B96;

  --color-dark_text_1: #E9EDEF;
  --color-dark_text_2: #8696A0;
  --color-dark_text_3: #8696A0;
  --color-dark_text_4: #D1D6D8;
  --color-dark_text_5: #99BEB7;

  --color-dark_scrollbar: #374045;

  --color-green_1: #00A884;
  --color-green_2: #008069;
  --color-green_3: #005C4B;
  --color-green_4: #025144;
}

@layer components {
  .customh1 {
    @apply text-blue-500 bg-red-200;
  }

  .dark .customh1 {
    @apply text-red-400 bg-blue-900;
  }

  .container {
    width: calc(100% - 38px);
    max-width: 1600px;
  }

  .flex0030 {
    flex: 0 0 30%;
  }

  .btn {
    @apply w-[40px] h-[40px] rounded-full flex items-center justify-center active:bg-dark_hover_1;
  }

  .btn_secondary {
    @apply w-[45px] h-[45px] rounded-full flex items-center justify-center bg-dark_bg_2;
  }

  .p16 {
    @apply px-[16px];
  }

  .textPrimary {
    font-size: 16px;
    line-height: 21px;
    @apply text-dark_text_1;
  }

  .textSecondary {
    font-size: 14px;
    line-height: 19px;
    @apply text-dark_text_2;
  }

  .input {
    @apply 
      w-full 
      dark:bg-dark_bg_2 
      p-1.5 
      dark:text-dark_text_1 
      rounded-lg 
      flex-1 
      outline-none;
  }

  .convos {
    height: calc(100vh - 220px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .overflow_scrollbar {
    height: calc(100vh - 155px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .online {
    border: 2px solid #00a884;
  }

  .hview {
    height: calc(100vh - 290px);
    padding: 8px 0;
  }

  .fileThumbnail:hover .removeFileIcon {
    display: block;
  }

  .callbg {
    background-image: linear-gradient(black, black),
      url(https://res.cloudinary.com/dmhcnhtng/image/upload/v1677358270/Untitled-1_copy_rpx8yb.jpg);
    background-size: cover;
    background-blend-mode: saturation;
  }

  .largeVideoCall {
    @apply absolute top-0 bottom-0 left-0 right-0 z-20 object-cover h-full bg-red-400 cursor-pointer;
  }

  .SmallVideoCall {
    @apply w-28 h-32 object-cover absolute bottom-4 right-2 z-30 bg-blue-500 cursor-pointer rounded-lg;
  }

  .moveVideoCall {
    @apply bottom-32 transition-all duration-100;
  }

  .moveActionsComp {
    @apply block;
  }
}

@layer utilities {
  .rotateAnimation {
    animation: rotate 0.3s forwards;
  }

  @keyframes rotate {
    0% {
      transform: rotate(-90deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

    /*----Custom scrollbar----*/
  .scrollbar::-webkit-scrollbar {
    width: 5px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #444e54;
  }
  /* ---------------- Emoji Picker Overrides ---------------- */

  .epr-dark-theme {
    background: #202c33 !important;
    border-radius: 0 !important;
    border: none !important;
    width: 100% !important;
  }

  .epr-search-container input {
    background: #222e35 !important;
    border-radius: 0 !important;
    border: none !important;
    font-size: 13px;
  }

  .epr-preview {
    display: none !important;
  }

  .epr-emoji-category-label {
    background: transparent !important;
    font-size: 15px;
    font-weight: normal !important;
  }

  .epr-category-nav {
    padding: 10px 0 !important;
  }

  .epr-category-nav .epr-active::after {
    content: "";
    width: 140px;
    height: 4px;
    background: #00a884;
    position: absolute;
    bottom: -10px;
    left: -55px;
  }

  .epr-header {
    display: flex;
    flex-direction: column-reverse;
  }

  /* ---------------- Emoji Picker Scrollbar ---------------- */

  .epr-body::-webkit-scrollbar {
    width: 6px !important;
  }

  .epr-body::-webkit-scrollbar-track {
    background: transparent !important;
  }

  .epr-body::-webkit-scrollbar-thumb {
    background: #444e54 !important;
  }

  /* ---------------- Animations ---------------- */

  .openEmojiAnimation {
    animation: openAn 0.1s forwards;
  }

  .openToolsAnimation {
    animation: openTools 0.2s forwards;
  }

  @keyframes openAn {
    0% {
      transform: translateY(60px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes openTools {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
}